<style>
  :host label {
    margin-bottom: 10px;
    display: block;
  }
  :host input,
  :host button,
  :host select,
  :host option {
    outline: 0;
    line-height: 1.5;
    width: 100%;
    -webkit-appearance: none;
  }
  :host input,
  :host button,
  :host select,
  :host option {
    border: 0;
    display: block;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #f1f1f1;
    background-color: #313131;
    color: white;
    font-size: 0.75em;

    text-align: center;
    position: relative;
  }
  :host button:active {
    box-shadow: 0 0 4px 0 white;
  }
  :host #playerName {
    transition: background-color 300mx;
  }
  :host #playerName.error {
    background-color: rgba(200, 0, 0, 0.5);

  }

  :host input:active {
    background-color: rgba(255, 255, 255, 0.9);
  }

  :host button:hover:not(:disabled) {
    box-shadow: 0 0 8px 0 white;
    cursor: pointer;
  }
  :host button:disabled {
    box-shadow: 0;
    cursor: default;
    background-color: var(--mini-memory-disabled-button);
  }

  :host #settings {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.95);
    transform: translateX(100%);
    z-index: var(--mini-memory-z-menu);
    transition: transform 300ms;
    color: white;
    font-size: 1em;
  }

  :host #settings.show {
    position: relative;
    transform: translateX(0);
  }

  :host #settings .close-x {
    float: right;
    color: white;
    top: 0;
    padding-right: 4px;
    font-size: 1.75em;
    line-height: 1;
    cursor: pointer;
    transition: transform 300ms;
  }

  :host #settings .close-x:active {
    transform: rotate(45deg);
  }
  :host .flex {
    display: flex;
    justify-content: space-evenly;
  }
  :host #form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    max-width: 320px;
    margin: 0 auto;
  }
  :host #form > div {
    width: 100%;
    margin: 10px 0;
  }
  :host label[for='playerName'] {
    display: block;
  }
  :host #playerName,
  :host #matrixcol,
  :host #matrixrow {
    display: inline-block;
    background: none;
    border: 0;
    color: white;
  }

  :host #isFullScreen {
    display: none;
  }

  :host #isFullScreen + .vCheck {
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(200, 0, 0, 0.5);
    box-shadow: 0 0 4px 2px red;
    border: #313131 1px solid;
    position: relative;
    transition: background-color 300ms;
    cursor: pointer;
  }
  :host #isFullScreen:checked + .vCheck {
    background-color: rgba(0, 250, 0, 0.5);
    box-shadow: 0 0 4px 2px green;
  }
  :host #isFullScreen + .vCheck::before {
    content: 'OFF';
    position: absolute;
    opacity: 0.5;
    left: 6px;
    top: 2px;
  }

  :host #isFullScreen:checked + .vCheck::before {
    content: 'ON';
    left: unset;
    right: 6px;
    opacity: 1;
  }
  :host #isFullScreen + .vCheck:after {
    content: '';
    display: inline-block;
    position: relative;
    left: 100%;
    top: 0;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 50%;
    transform: translateX(-100%);
    transition: all 300ms;
  }
  :host #isFullScreen:checked + .vCheck:after {
    left: 0;
    transform: translateX(0%);
  }
</style>
<div id="settings">
  <div><span class="close-x">&times;</span></div>
  <div id="form">
    <div>
      <label for="playerName" data-i18n="PLAYERS_NAME"></label>
      <input type="text" id="playerName" size="12" />
    </div>
    <div class="flex">
      <div>
        <label for="matrixcol" data-i18n="COLUMNS"></label>
        <input
          type="number"
          placeholder="2"
          id="matrixcol"
          size="2"
          min="2"
          max="10"
        />
      </div>
      <div>
        <label for="matrixrow" data-i18n="ROWS"></label>
        <input
          type="number"
          placeholder="2"
          id="matrixrow"
          size="2"
          min="2"
          max="10"
        />
      </div>
    </div>

    <div class="flex">
      <label for="isFullScreen" data-i18n="FULL_SCREEN"></label>
      <input type="checkbox" id="isFullScreen" />
      <div class="vCheck"></div>
    </div>
    <div>
      <select name="languageSelection" id="languageSelection">
        <option value="default" data-i18n="SELECT_LANGUAGE"></option>
        <option value="en" data-i18n="LANGUAGE_LABEL"></option>
        <option value="de" data-i18n="LANGUAGE_LABEL"></option>
        <option value="tr" data-i18n="LANGUAGE_LABEL"></option>
      </select>
    </div>
    <div>
      <button id="applySettings" data-i18n="APPLY" disabled="disabled"></button>
    </div>
    <div><button id="restartGame" data-i18n="RESTART"></button></div>
  </div>
</div>
