:host * {
  box-sizing: border-box;
  user-select: none;
}
:host {
  --mini-memory-bg: #f9f9f9;
  --mini-memory-border: #313131;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--mini-memory-bg);
  position: relative;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0 4px 0 #333333;
}

:host #loading {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: loading 1s infinite;
  z-index: 0;
}

:host #loading.done {
  display: none;
}

:host .code {
  background-color: #333333;
  color: yellowgreen;
  display: block;
  font-family: monospace, sans-serif;
  padding: 6px;
}

:host .pre {
  margin: 5px;
}

:host #toolbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  height: 18px;
  width: 100%;
  padding: 0 2px;
  font-size: 14px;
  line-height: 1.2;
}
#counter {
  width: 100px;
}
#player {
  text-align: center;
  max-width: 100px;
  font-weight: bold;
}
#menu {
  width: 20px;
  height: 20px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAt0lEQVQ4je2UwQqCQBCGf1fXgtjCWhC0LhJ28tT7P0gdOoh2Wg8lQam7dugauysJHeqDuX38zMDMAN9hT19lxjEJnO9YS5sTANDWT4Q41DrfMwWqiVw4sl8BQD+9zQFoA60IwiQLwiT7OOiHYVHKWZRyG9e4NixKOVFNCQCK+HF9PgqdT+x6HJkhI/95z5DTM67NMt6ulexyAHC9blMVRanzjd+GPNyLpLICAOc+u9p0aYH9gx2dJ6RgKz0wt+R/AAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 16px;
}

#tiles-container {
  position: absolute;
  top: 20px;
  height: calc(100% - 20px);
}

:host .tile {
  float: left;
  z-index: 1;
  position: relative;
}

:host .tile canvas {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  visibility: visible;
  margin: 1px;
}

:host .tile canvas.wait {
  visibility: hidden;
}

:host .tile canvas.open {
  cursor: none;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
