:host * {
  box-sizing: border-box;
}
:host {
  --mini-memory-bg: #f9f9f9;
  --mini-memory-border: #313131;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--mini-memory-bg);
  position: relative;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden;
}

:host .loading {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: loading 1s infinite;
  z-index: 0;
}
:host .loading.done {
  display: none;
}
:host .code {
  background-color: #333333;
  color: yellowgreen;
  display: block;
  font-family: monospace, sans-serif;
  padding: 6px;
}
:host .pre {
  margin: 5px;
}
:host .tile {
  float: left;
  z-index: 1;
  position: relative;
}

:host .tile canvas {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  visibility: visible;
}

:host .tile canvas.wait {
  visibility: hidden;
}

:host .tile canvas.open {
  cursor: none;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
